<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://172.28.226.97:5432/hibernatedb?currentSchema=public</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!--  use "create" to drop and re-create the schema and,
              "update" to mix the changes
          -->
        <property name="hbm2ddl.auto">create</property>

        <!--  Names the annotated entity classes -->

<!--        <mapping class="_01_insert_retrieve.model.UserEntity1"/>-->
<!--        <mapping class="_02_embedded.model.UserEntity2"/>-->
<!--        <mapping class="_03_hashset.entity.UserEntity3"/>-->
<!--        <mapping class="_04_collection.entity.UserEntity4"/>-->
<!--        <mapping class="_05_lazy_eager.model.UserEntity5Eager"/>-->
<!--        <mapping class="_05_lazy_eager.model.UserEntity5Lazy"/>-->
<!--        <mapping class="_06_onetoone_mapping.model.UserEntity6"/>-->
<!--        <mapping class="_06_onetoone_mapping.model.VehicleEntity6"/>-->
<!--        <mapping class="_07_onetomany_mapping_unidirectional_donotuse.entity.UserEntity7"/>-->
<!--        <mapping class="_07_onetomany_mapping_unidirectional_donotuse.entity.VehicleEntity7"/>-->
<!--        <mapping class="_08_onetomany_mapping_unidirectional_with_jointable.entity.VehicleEntity8"/>-->
<!--        <mapping class="_08_onetomany_mapping_unidirectional_with_jointable.entity.UserEntity8"/>-->
<!--        <mapping class="_09_onetomany_mapping_bidirectional_with_jointable_without_mappedBy.entity.UserEntity9"/>-->
<!--        <mapping class="_09_onetomany_mapping_bidirectional_with_jointable_without_mappedBy.entity.VehicleEntity9"/>-->
<!--        <mapping class="_10_onetomany_mapping_bidirectional_without_jointable_with_mappedBy.entity.UserEntity10"/>-->
<!--        <mapping class="_10_onetomany_mapping_bidirectional_without_jointable_with_mappedBy.entity.VehicleEntity10"/>-->
<!--        <mapping class="_11_onetomany_mapping_bidirectional_with_jointable_with_mappedBy.entity.UserEntity11"/>-->
<!--        <mapping class="_11_onetomany_mapping_bidirectional_with_jointable_with_mappedBy.entity.VehicleEntity11"/>-->
<!--        <mapping class="_12_manytoone_mapping_unidirectional_donotuse.entity.UserEntity12"/>-->
<!--        <mapping class="_12_manytoone_mapping_unidirectional_donotuse.entity.VehicleEntity12"/>-->
<!--        <mapping class="_13_manytoone_mapping_unidirectional_with_jointable.entity.UserEntity13"/>-->
<!--        <mapping class="_13_manytoone_mapping_unidirectional_with_jointable.entity.VehicleEntity13"/>-->
<!--        <mapping class="_14_1_manytomany_mapping_without_mappedBy.entity.UserEntity14"/>-->
<!--        <mapping class="_14_1_manytomany_mapping_without_mappedBy.entity.VehicleEntity14"/>-->
<!--        <mapping class="_14_2_manytomany_mapping_with_mappedBy.entity.UserEntity14"/>-->
<!--        <mapping class="_14_2_manytomany_mapping_with_mappedBy.entity.VehicleEntity14"/>-->
<!--        <mapping class="_15_cascade_types.entity.UserEntity15"/>-->
<!--        <mapping class="_15_cascade_types.entity.VehicleEntity15"/>-->
<!--        <mapping class="_16_inheritance_single_type_strategy_default_behave.entity.VehicleEntity16"/>-->
<!--        <mapping class="_16_inheritance_single_type_strategy_default_behave.entity.CarEntity16"/>-->
<!--        <mapping class="_16_inheritance_single_type_strategy_default_behave.entity.MotorcycleEntity16"/>-->
<!--        <mapping class="_17_inheritance_table_per_class_strategy.entity.VehicleEntity17"/>-->
<!--        <mapping class="_17_inheritance_table_per_class_strategy.entity.CarEntity17"/>-->
<!--        <mapping class="_17_inheritance_table_per_class_strategy.entity.MotorcycleEntity17"/>-->
<!--        <mapping class="_18_inheritance_joined_strategy.entity.VehicleEntity18"/>-->
<!--        <mapping class="_18_inheritance_joined_strategy.entity.CarEntity18"/>-->
<!--        <mapping class="_18_inheritance_joined_strategy.entity.MotorcycleEntity18"/>-->
<!--        <mapping class="_19_transient_persistent_detached_objects.entity.UserEntity19"/>-->
<!--        <mapping class="_20_hql.entity.UserEntity20"/>-->
<!--        <mapping class="_20_hql.entity.UserEntity20Backup"/>-->
<!--        <mapping class="_21_hql_onetoone_mapping_join.entity.UserEntity21"/>-->
<!--        <mapping class="_21_hql_onetoone_mapping_join.entity.VehicleEntity21"/>-->
<!--        <mapping class="_22_hql_onetomany_mapping_bidirectional.entity.UserEntity22"/>-->
<!--        <mapping class="_22_hql_onetomany_mapping_bidirectional.entity.VehicleEntity22"/>-->
<!--        <mapping class="_24_namedQuery_namedNativeQuery_sqlNativeQuery.entity.UserEntity24"/>-->
<!--        <mapping class="_25_criteria_api.entity.UserEntity25"/>-->
<!--        <mapping class="_26_cache.entity.UserEntity26"/>-->


    </session-factory>

</hibernate-configuration>